/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	/* по умолчанию */
	/* font-size: 16px;  */
}
body {
	line-height: 1;
	color: #fff;
	background-color: #ffffff;
	font-family: "Roboto";
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ----------------------------------------------------- */

.main {
	padding: 30px;
	margin: 0 auto;
}

/* ======================= 1БЛОК =============================== */
.form:hover {
	transition: 300ms;
	box-shadow: 0px 8px 16px rgb(38 38 38 / 80%), 0px 16px 24px rgb(38 38 38 / 20%);
}
.form {
	transition: 300ms;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	background-color: #5d62b5;
	max-width: 586px;
	border-radius: 40px;
	padding: 76px 57.44px 75.99px 57.56px;
}

.form__items {
	display: flex;
	gap: 22px;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.form__title {
	text-align: center;
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	color: #ffffff;
}

.form__title:not(:last-child) {
	margin-bottom: 43px;
}

.form__input {
	flex: 1 1 224px;
}

.form__item {
	background-color: #5d62b5;
	border: 2px solid #ffffff;
	border-radius: 10px;
	padding: 16px 24px 15px;
	width: 100%;
}

.form__item:focus {
	box-shadow: 0px 0px 5px 2px #ffffff;
}
.form__item::placeholder {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #ffffff;
	opacity: 0.8;
}
.form__item:focus::placeholder {
	transform: translate(-100%, 0px);
	transition-duration: 700ms;
}

.form__line {
	flex: 1 1 100%;
}
.form__textarea {
	resize: vertical;
	padding: 16px 24px 15px;
	border-radius: 10px;
	height: 180px;
	width: 100%;
	background-color: #5d62b5;
	border: 2px solid #ffffff;
}

.form__textarea:focus {
	box-shadow: 0px 0px 5px 2px #ffffff;
}

.form__textarea::placeholder {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #ffffff;
	opacity: 0.8;
}

.form__textarea:focus::placeholder {
	transform: translate(0, -150%);
	transition-duration: 450ms;
}

.submit {
	background-color: #f2726f;
	border-radius: 8px;
	font-family: "Roboto";
	font-weight: bold;
	font-size: 12px;
	line-height: 2;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 12px 30px;
	margin-right: 5px;
	margin-top: 6px;
	cursor: pointer;
	transition: 300ms;
}

.submit:hover {
	background-color: darkorange;
	transition: 300ms;
}

.submit:active {
	background-color: darkred;
	transition: 280ms;
}

/* ================================ 2 БЛОК ============================================ */

.registered:hover {
	transition: 300ms;
	box-shadow: 0px 8px 16px rgb(38 38 38 / 24%), 0px 16px 24px rgb(38 38 38 / 20%);
}
.registered {
	transition: 300ms;
	font-family: "Poppins", sans-serif;
	margin-bottom: 155px;
	background-color: #f5f7ff;
	max-width: 564px;
	padding: 37px 57px 40px;
	display: flex;
	flex-direction: column;
}
.titles {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.5;
	color: #000000;
}
.registered__title:not(:last-child) {
	margin-bottom: 15px;
}
.text {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	color: #000000;
}
.registered__text:not(:last-child) {
	margin-bottom: 20px;
}
.registered-form {
}
.item-form:not(:last-child) {
	margin-bottom: 20px;
}

.item-form_margin:not(:last-child) {
	margin-bottom: 30px;
}

.item-form__label {
	display: block;
	font-weight: 600;
	font-size: 13px;
	line-height: 2.1;
	color: #000000;
	margin-bottom: 5px;
	cursor: pointer;
}
.item-form__label_after::after {
	content: "*";
	position: relative;
	left: 4px;
	color: red;
}
.item-form__input {
	font-weight: 300;
	font-size: 14px;
	line-height: 2;
	color: #a2a6b0;
	width: 100%;
	padding: 16px;
	border: 1px solid #a2a6b0;
	border-radius: 4px;
}

.form__btn {
	background: #0156ff;
	border-radius: 50px;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #ffffff;
	padding: 15px 50px;
	margin-right: 23px;
	transition: 250ms;
}
.form__btn:hover {
	background-color: deepskyblue;
	transition: 250ms;
}
.form__btn:active {
	background-color: greenyellow;
}

.item-form__link {
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #0156ff;
}
.item-form__link:hover {
	color: darkviolet;
}

/* ===================================== 3 БЛОК ============================================ */

.summary:hover {
	transition: 300ms;
	box-shadow: 0px 8px 16px rgb(38 38 38 / 24%), 0px 16px 24px rgb(38 38 38 / 20%);
}
.summary {
	font-family: "Poppins", sans-serif;
	margin-bottom: 155px;
	background-color: #f5f7ff;
	max-width: 446px;
	padding: 17px 30px 40px;
	display: flex;
	flex-direction: column;
	transition: 300ms;
}
.summary__title:not(:last-child) {
	margin-bottom: 18px;
}

.subtitle {
	font-weight: normal;
	font-size: 18px;
	line-height: 1.5;
	color: #000000;
}
.summary__subtitle:not(:last-child) {
	margin-bottom: 12px;
}
.summary__text {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5;
	color: #666666;
}
.summary__text:not(:last-child) {
	margin-bottom: 15px;
}

.item-form__input_color {
	color: #000000;
}

.item-radio {
	position: relative;
}

.item-radio:not(:last-child) {
	margin-bottom: 20px;
}
.item-radio_margin:not(:last-child) {
	margin-bottom: 40px;
}
.item-radio__title {
	font-weight: 600;
	font-size: 13px;
	line-height: 2.1;
	color: #000000;
	margin-bottom: 5px;
}
.item-radio__form {
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 0;
	opacity: 0;
}
.item-radio__label {
	width: 100%;
	cursor: pointer;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.4;
	color: #000000;
	display: inline-flex;
	/* align-items: flex-start; */
	column-gap: 10px;
	position: relative;
}

.item-radio__label::before {
	content: "";
	flex: 0 0 21px;
	height: 21px;
	background-color: #fff;
	border: 2px solid #0156ff;
	border-radius: 50%;
}

.item-radio__label::after {
	content: "";
	width: 13px;
	height: 13px;
	background-color: #0156ff;
	border-radius: 50%;
	position: absolute;
	top: 3.99px;
	left: 3.85px;
	transform: scale(0);
	transition: 0.2s;
}

.item-radio__form:checked + .item-radio__label::after {
	background-color: #0156ff;
	transform: scale(1);
	transition: 0.2s;
}

.item-radio__form:checked + .item-radio__label::before {
	box-shadow: 0px 0px 4px #0156ff;
}

.summary__btn {
	transition: 0.3s;
	font-family: "Poppins";
	width: 100%;
	border: 2px solid #0156ff;
	background-color: #ffffff;
	border-radius: 40px;
	padding: 17px 40px;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	color: #0156ff;
}
.summary__btn:hover {
	background-color: #0156ff;
	color: #ffffff;
}

/* ===================================== 4 БЛОК	====================================================== */

.address {
	transition: 300ms;
	font-family: "Poppins", sans-serif;
	margin-bottom: 155px;
	background: #ecece5;
	max-width: 650px;
	padding: 37px 57px 40px;
	display: flex;
	flex-direction: column;
}
.address__title::after {
	content: "";
	width: 100%;
	height: 1.5px;
	background-color: #cacdd8;
	display: block;
	margin: 14px 0 30px 0;
}
.titles {
}
.address__form {
	display: flex;
	flex-direction: column;
}
.item-form {
}
.item-form__label {
}
.item-form__label_after {
}
.item-form__input {
}
.item-form__subtitle {
	font-weight: normal;
	font-size: 13px;
	line-height: 2.07;
	color: #666666;
	margin-top: 10px;
}
.item-form__subtitle::after {
	content: "";
	width: 100%;
	height: 1.5px;
	background-color: #cacdd8;
	display: block;
	margin: 14px 0 15px 0;
}

.item-form_after-line::after {
	content: "";
	width: 100%;
	height: 1.5px;
	background-color: #cacdd8;
	display: block;
	margin: 40px 0 0 0;
}
.item-form__input_margin-top {
	margin-top: 10px;
}

.item-radio_pos {
	position: relative;
}
.item-radio__title {
}
.item-radio__form {
	position: absolute;
}

.address__btn {
	display: flex;
}
.btn {
	flex: 0 0 250px;
	background-color: #0156ff;
	padding: 14px;
	text-align: center;
	border-radius: 50px;
	align-self: center;
	cursor: pointer;
	align-self: flex-start;
	transition: 0.3s;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	border: 1px solid #0156ff;
}
.btn:hover {
	background-color: #f5f7ff;
	color: #0156ff;
}
/* .address__btn {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
	background-color: #0156ff;
	cursor: pointer;
	max-width: 250px;
	padding: ;
}
.address__btn:not(:last-child) {
	margin-bottom: 50px;
}
/* 
.address__btn:hover {
	background-color: #fff;
	border: 2px solid #0156ff;
	color: #0156ff;
} */
